# Ignore directory in any project's directiories
__pycache__
database
logs
.venv
.vscode
.idea
.env

# Ignore all temporary *.pyc files in any project's directiories
*.pyc

# Ignore all files in the items directory, but preserve the directory itself
shop_items/**
!shop_items/.gitkeep